* {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
}
html{
  background-color: rgba(240, 251, 254, 0.563);

}

.nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
ul{
  height: 55px;
  background-color: #0080A5;
  list-style-type: none;

}

li{
  display: inline;
}

.nav-item a{
  display: inline-block;
  padding : 20px;
  text-decoration: none;
  color:white
}

/* div.landing-container{
  z-index:-1;
  opacity: 0.5;
  width: 100%; 
  margin: auto;
  height:50%;
  background:linear-gradient( 
    rgba(128, 0, 32, 0),
    #fff),
    url(https://res.cloudinary.com/dgzjr8afn/image/upload/v1552254300/this-topo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    position: fixed;
  } */
  
  .title{
    padding-top: 100px;
    text-align: center;
    color: black;
    /* text-shadow: 0px 0px 15px #574141 ; */

}

#main{
margin-left: auto;
margin-right: auto;
margin-bottom:50px;
padding:10px;
max-width: 1000px;
}

.section{
  margin: 50px 0px 0px;
}

#project-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto ;
  grid-template-areas: 
  'image image'
  'stack links';
  background: linear-gradient( #BFA5A4 , #fff);
  margin-top:50px;
  grid-gap: 10px 0px;
  
  border-radius: 3px;
}


div.image-container{
  grid-area:  image;
  justify-self: center;
  position: relative;
  height:500px;
  width: 100%;
}
.image-container img{
  object-fit: cover;
  object-position: 50% 0%;
  height:500px;
  width: 100%;
 margin-left: auto;
margin-right:auto;
  }

.title-container{
grid-area: image;
background-color:#574141;
opacity: .8;
color:  #FFF4F3;
text-align: center;
padding:10px 40px;
position: absolute;
top:-5%;
left: -10px;
}

.project-title {
  /* text-shadow: 0px 0px 3px #800020; */
  font-size: 40px;

}
.second-image img {
  height:0px;
  width: 0px;
}



.stack-container{
grid-area: stack;
padding:10px;
position: relative;
min-height:200px;
}
.stack{
  background-color: thistle;
  position: absolute;
  left:-10px;
  top:-20px;
  padding: 10px;
}

.stack h5{
  font-size: 20px;
}

.front-end{
  background-color: thistle;
position: absolute;
left:-5px;
top:40px;
padding: 10px;
}
.back-end{
  background-color: thistle;
position: absolute;
left:120px;
top: -20px;
padding: 10px;
}

.links-container{
grid-area: links;
padding:10px;
position: relative;
}

.link-a{
  background-color: thistle;
  position: absolute;
  right:10%;
  top:10px;
  padding: 5px 25px;
  color: black;
  text-decoration: none
}
.link-b{
  background-color: thistle;
  position: absolute;
  right:5%;
  top:50px;
  padding: 5px 25px;
  color: black;
  text-decoration: none

}
.link-c{
  background-color: thistle;
  position: absolute;
  right:10%;
  top:90px;
  padding: 5px 25px;
  color: black;
  text-decoration: none
}

@media (min-width: 700px){
  #project-container{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto ;
    grid-template-areas: 
    'stack image'
    'links image';
    background: linear-gradient( #BFA5A4 , #fff);
    margin-top:50px;
    grid-gap: 10px 0px;
    
    border-radius: 3px;
  }
  div.image-container{
    grid-area:  image;
    justify-self: right;
  }

  .title-container{
    grid-area: image;
    position: absolute;
    left: -45%;
    top:-8%
  }

  .stack{
    background-color: thistle;
    position: absolute;
    left:-10px;
    top: 80px;
    padding: 10px;
  }
  
  .front-end{
    background-color: thistle;
  position: absolute;
  left:-5px;
  top:140px;
  padding: 10px;
  }
  .back-end{
    background-color: thistle;
  position: absolute;
  left:-5px;
  top: 280px;
  padding: 10px;
  }

}

@media (min-width: 900px){

  div.second-image{
    height: 100px;
    width:100px;
    position: absolute;
    left: 50%;
    bottom: 100px;
  }
  div.second-image img{
    object-fit: cover;
    height:200px;
    width: 200px;
  
  }
  .title-container{
    grid-area: image;
    position: absolute;
    left: -75%;
    top:-8%
  }
}







/* 
.landing-container::after{
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: -800px;
  height: 800px;
  width: 100%;
  content: '';  } */


