a, abbr, acronym, address, big, cite, code,
html,
 
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl,
 
dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  overflow: visible;
}
/*

#FEB103	dark yellow
#FEC511	light yellow
#F5EED2	 background tan
#E0475A	pink
#E0274A	redpink
#DA0436 redorange

*/

body{
  background-color:rgb(177, 78, 90);
  font-family: 'Poppins', sans-serif;
  color: rgb(250, 245, 224);
  font-size: 18px;
}

.app-title-container{
  background-image:linear-gradient(
    rgba(177, 78, 90, 0.35),
    rgba(177, 78, 90, 0.35)
  ), url(https://res.cloudinary.com/dgzjr8afn/image/upload/v1556060111/background-close.jpg);
  top: 0;
  height: 100vh;
  background-size: cover
  
}

ul{
  list-style-type: none;
}

.landing-container{
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 10px;
  display: flex;
  list-style-type: none;
  width: 98%;
  justify-content: space-between;

  opacity: 1;
  z-index: 100;
  margin: 0 auto;
}

.view-blocker{
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top:0;
  height:10px;
  width:100%;
  z-index: 99;
  background-color: rgb(177, 78, 90)}

.stack-list li {
  display: inline;
}

.stack{
  font-family: 'Cute Font', cursive;
  font-size: 40px;
}

.nav-item{
  text-align: center;
  background-color:#FEB103;
  flex-grow:1;
  display: inline-block;
  padding: 20px ;
  text-decoration: none;
  color:rgb(107, 4, 28);
  transition: background-color 1s, height 1s;
  
}
.nav-item:hover{
  background-color: #FEC511	;
  color: #E0274A;

  }


.title{
  font-size: 70px;
  text-align: center; 
  padding: 70px 0 0;
  color:#F5EED2;
  font-weight: bold;
  font-family: 'Cute Font', cursive;
  text-shadow: #FEB103 1px 0 3px;

}

.sub-title{
  font-size: 45px;
  text-align: center; 
padding: 0 0 30px;
  color:#F5EED2;
  font-weight: bold;
  font-family: 'Cute Font', cursive;
  text-shadow: #FEB103 1px 0 3px;
}

.arrow{
  display:block;
  margin: 150px auto;
  width: 150px; 
}


.project-title{
  font-size: 55px;
  color:#F5EED2;
  font-weight: bold;
  font-family: 'Cute Font', cursive;
  text-shadow: #FEB103 1px 0 2px;
}

hr{
  height:3px;
  background-color: #F5EED2;
  border: 0;
}

.section{
  padding: 0px 20px 150px;
  /* margin: 0 0 150px ; */
}
/* #About{
  background-color: #A66971;
} */

.section-title{
  margin: 100px 0px 10px;
  font-family: 'Cute Font', cursive;
  color:#F5EED2;
  font-size: 85px;
  text-shadow: #FEB103 1px 0 10px;

}

.contact-title{
  font-family: 'Cute Font', cursive;
  font-size: 40px;
}

.contact-info{
  text-align: center;
  padding: 10px 0px;
}

.media-links{
  margin: 0 auto;
  width:150px;
}

.foot-box{
  margin: 40px 0 0;
  width:100%;
}
.footer-text{
  text-align: right;
  padding: 5px 20px;
}

.about-description.first{
  margin: 50px auto 0;
}

.about-description{
  margin: 5px auto 5px;
  max-width: 1000px;
}
.project-image{
  max-width: 90%;
  height:auto;
  margin:  20px auto;
  display:block;
  border-radius: 3px;
}
.project-container{
  margin: 20px auto 0;
  display: grid;
  grid-template-columns: auto  auto;
  grid-template-rows:auto auto auto auto auto;
  border: 3px dashed #F5EED2;
  background-color: rgb(143, 72, 81);
  /* color: #E0274A; */
}


.project-title-container{
  padding: 10px 20px;
  grid-column: 1 / 3;
  grid-row: 1;

}
.image-container{
  grid-column: 1 / 3;
  grid-row: 2;
  justify-self: center;
}

.description-container{
  grid-column: 1/3;
  grid-row: 3;
  padding:10px
}

.stack-container{
  grid-column: 1 /3;
  grid-row: 4;
  padding:10px

}

.links-container{
  grid-column: 2/ 3;
  grid-row: 5;
  padding:10px;
  align-self:end;
  justify-self: end;
  position: relative;
  height: 70px;
  width: 140px;
  
}
.button-image{
  width:40px;
  height:auto;
  margin: 2px 0 0;
}





@media (min-width:700px){
  .title{
    font-size: 90px;
  }
  
  /* .sub-title{
    font-size: 50px;
  } */

.project-container{
  margin: 20px auto 0;
  display: grid;
  grid-template-columns:50%  25% 25%;
  grid-template-rows:auto auto auto auto ;
}

.title-container{
  grid-column: 1 / 4;
  grid-row: 1;
}
.image-container{
  grid-column: 1 / 4;
  grid-row: 2;
}

.description-container{
  grid-column: 1/2;
  grid-row: 3/5;
}

.stack-container{
  grid-column: 2 /4;
  grid-row: 3;
}

.links-container{
  grid-column: 3/ 3;
  grid-row: 4;
  justify-self: start;
}
}

@media 
(min-width:1300px){

  .title{
    font-size: 140px;
  }
  
  .sub-title{
    font-size: 80px;
  }

  .landing-container{
    justify-content: flex-end;
    background: #FEB103;
   
  }

  .nav-item{
    flex-grow: 0;
    padding: 20px 60px;
  }
  
.about-description{
  font-size: 25px;
  max-width: 1200px;
}

  .project-container{
    margin: 20px auto 0;
    display: grid;
    grid-template-columns:auto  40%;
    grid-template-rows:auto auto auto auto ;
  }
  
  .title-container{
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .image-container{
    grid-column: 2 / 3;
    grid-row: 1/5;
    align-self: center
  }
  
  .description-container{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .stack-container{
    grid-column: 1 /2;
    grid-row: 3/4;
  }
  
  .links-container{
  
    grid-column: 1/ 2;
    grid-row: 4/5;
  }
  }



button{
  background-color: #FEB103;
  color:rgb(107, 4, 28);
  /* font-weight: b; */
  font-size: 17px;
  padding: 0;
  width: 60px;
  height: 60px;
  display:inline-block;
  border: 0;
  border-radius: 50%;
  
  transition: transform .15s;
  transform: scale(.9);
}

.git-button{
  right: 10px;
  bottom:10px;
  position: absolute;
}
.site-button{
  right:70px;
  bottom:10px;
  position: absolute;
}

.media-button{
  width: 70px;
  height: 70px;
}

button:hover{
  background-color: #FEC511;
  transform: scale(1);
transition: transform .15s;
}
