.about {
  position: relative;
  padding: 25px;
}

.about__inner {
  display: grid;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-areas: "name" "bio" "position" "other" "list1" "list2" "list3" "list4";
}

@media(min-width: 600px) {
  .about__inner {
    grid-template-areas: "name name" "bio bio" "position other" "list1 list2" "list3 list4";
  }
}

@media(min-width: 1000px) {
  .about__inner {
    grid-template-areas: "name name name name" "bio bio bio bio" "position other . ." "list1 list2 list3 list4";
  }
}

.about__name {
  grid-area: name;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--purple);
  font-family: var(--serif);
  font-size: 48px;
  text-align: right;
}

.about__heading {
  display: inline-block;
  margin-right: 12px;
}

.about__heading-wrapper {
  margin-top: 40px;
  font-size: 12px;
}

.about__bio {
  grid-area: bio;
  margin-top: 30px;
}

.about__cta {
  display: inline-block;
}

.about__vote {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-left: 12px;
  color: purple;
  text-decoration: none;
}

.about__vote::before {
  position: absolute;
  right: 100%;
  content: "";
}

.about__vote:hover::before, .about__vote:focus::before {
  content: ">";
}

.about__bio>p {
  margin-top: 30px;
}

.about__frontend-list {
  grid-area: list1;
  padding: 20px 0;
}

.about__backend-list {
  grid-area: list2;
  padding: 20px 0;
}

.about__developer-list {
  grid-area: list3;
  padding: 20px 0;
}

.about__experienced-list {
  grid-area: list4;
  padding: 20px 0;
}

.about__positions-list {
  grid-area: position;
  padding: 20px 0;
}

.about__positions-list-item {
  margin-bottom: 20px;
}

.about__positions-list-item>p:first-child, .about__other-list-item>p:first-child {
  font-weight: bold;
}

.about__other-list {
  grid-area: other;
  padding: 20px 0;
}

.project {
  position: relative;
  padding: 25px;
}

.project__inner {
  display: grid;
  gap: 10px;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--purple);
  grid-template-areas: "heading" "image" "copyArea" "links";
}

@media(min-width: 600px) {
  .project__inner {
    grid-template-areas: "heading image" "copyArea image" "links image";
  }
}

@media(min-width: 1000px) {
  .project__inner {
    grid-template-areas: "heading image" "copyArea image" "links image";
  }
}

.project__heading {
  grid-area: heading;
  font-family: var(--serif);
}

@media(min-width: 600px) {
  .project__heading {
    padding-right: 80px;
  }
}

.project__copy {
  grid-area: copyArea;
  margin-top: 20px;
}

@media(min-width: 600px) {
  .project__copy {
    padding-right: 60px;
    margin-top: 0;
  }
}

.project__image {
  border-radius: 3px;
  box-shadow: 6px 6px 10px 2px var(--purple);
}

.project__image-wrapper {
  grid-area: image;
}

.project__link {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid var(--grey);
  border-radius: 50%;
  margin-right: 20px;
  color: var(--grey);
  text-decoration: none;
  box-shadow: inset 0 0 0 0 transparent, 2px 2px 6px 1px var(--purple);
  transition: box-shadow 0.5s, background-color 0.5s;
}

.project__link:hover, .project__link:focus {
  box-shadow: inset 2px 2px 6px 1px var(--purple), 0 0 0 0 transparent;
  background-color: #fdfdf5;
}

.project__link-wrapper {
  grid-area: links;
  display: flex;
  padding-top: 20px;
}
